/**
 * Colors Theme
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-accent: #FFE100;
  --vp-c-brand-1: #86CA39;
  --vp-c-brand-2: #76B430;
  --vp-c-brand-3: #669C2A;
  --vp-c-brand-soft: #86CA3914;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */
 :root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #FFE100 15%,
    #86CA39
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #FFE10060 30%,
    #86CA3960
  );
  --vp-home-hero-image-filter: blur(30px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}
